body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:873px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:557px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-12px;
  width:873px;
  height:557px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:61px;
  width:646px;
  height:162px;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:42px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:42px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:211px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:42px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:0px;
  width:215px;
  height:42px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:211px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:42px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:216px;
  height:42px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:212px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:36px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:215px;
  height:36px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:36px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:42px;
  width:215px;
  height:36px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:36px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:42px;
  width:216px;
  height:36px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:35px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:78px;
  width:215px;
  height:35px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:35px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:78px;
  width:215px;
  height:35px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:35px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:78px;
  width:216px;
  height:35px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:49px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:215px;
  height:49px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:211px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:49px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:113px;
  width:215px;
  height:49px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:49px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:113px;
  width:216px;
  height:49px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
